#root {
  padding-left: 7rem;
  padding-right: 7rem;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.header_logo {
  box-shadow: 10px 5px 1px grey;
}

.navBar {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(147, 149, 151);
  box-shadow: 0px 5px 5px grey;
  margin-bottom: 2rem;
}

.navBar > li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  list-style: none;
  margin-left: 20px;
}
.navBar > li:hover {
  cursor: pointer;
  color: rgba(245, 223, 77);
}
.navBar_search {
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBar_search:hover {
  cursor: pointer;
  transform: scale(1.3, 1.3);
}
.navBar_search_icon {
  width: 100%;
  height: auto;
}

.contents {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
}

.card:hover {
  color: red;
}

.card-body_botton {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
